/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Kalam:wght@400;700&display=swap");

body {
  /* THIS IS THE CRITICAL FIX */
  margin: 0;
  padding: 0;

  font-family: "Kalam", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #121212;
  color: #e0e0e0;
}
